
.button{
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ffff64;
        color: black;
        font-family: 'Kanit', sans-serif;
        padding: 0 15px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        border: 0;
        transition: filter 0.2s;

        img{
           
           height: 20px;
        }
        &.outlined{
            background: #ffff64;
            border: 1px solid #121212;
            color: #121212;
        }
        &:not(:disabled):hover{
            filter: brightness(0.9);
        }
        &:disabled{
            opacity: 0.6;
            cursor: not-allowed;
        }
}