
/*Um reset padrão*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Kanit', sans-serif;
    word-break: break-all;
}
 ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*responsabilidade pro header*/
@media(max-width: 660px){
    #Log{
        display: none;
    }
}
header{
    background-color: #ffff64;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1{
        @media(max-width: 660px){
           display: none;
        }
        font-size: 1.8em;
    }
    #MobileMenu{
        display: flex;
       position: absolute;

        height: 100%;
        width: 100%;
        top: 0%;
        bottom: 0%;
       #transaparente{
           background-color: black;
           opacity: 0.5;
           height: 100%;
           
        img{
            width: 25px;
            height: 1.5em;
            opacity: 1;
        }
       }
        .Menu{
            .network{
                display: none;
            }
            
            display: flex;
            .MenuLinks{
                align-items: baseline;
            }
            ul{
                margin-top: 50%;
                display: flex;
                flex-direction: column;
                li{
                    margin-top: 1em;
                    justify-content: center;
                    p{
                        font-size: 2em;
                    }
                }
            }
        }
    }
    #logo{
        :hover{
            cursor: pointer;
        }
        svg{
            height: 1.5em;
            width: 126px;
            
        }
    }
    #menu{
        @media (max-width: 660px){
            display: flex;
            
        }
        display: none;
        
        :hover{
            cursor: pointer;
        }
        img{
           
            width: 50px;
            height: 1.5em;
        }
    }
    .Register{
        display: flex;
    }
}

@media(max-width: 660px){
    .Menu{
        display: none;
    }
   
    .News{
        width: 20em;
    }
}
.Menu{
    background-color: #121212;
    color: #ffffff;
    width: 100%;
    .MenuLinks{
        
        display: flex;
        justify-content: center;
        font-weight: bolder;
        align-items: center;
        height: 50px;
        .network{
            #CloseMenu{
                display: none;
            }
        }
        ul{display: flex;}
       
        li{ 
            border-left: 1px solid rgb(255, 255, 255);
           cursor: pointer;
            display: flex;
            align-items: center;
            p{
                margin-left: 2.250em; 
                margin-right: 2.250em;
                font-size: 1em;
                
            }
        }

        svg{
            height: 0.875em;
            width: 20px;
            fill: white;
        }
    }
}

.TopArtist{
    @media (max-width: 660px){
       
            position: static;
        display: flex;
        width: 90%;
        margin-top: 0.5em;
        margin-left: 1em;
        border-radius: 10px;
        ol{
            margin: 0;
        }
    }
    h1{
        font-size: 1.3em;
    }
    position: absolute;
    left: 0%;
    top: 25%;
    width: 9.37em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    word-break: normal;
    li{
        cursor: pointer;
        margin-top: 7px;
        
    }
}
/* css para o main*/
main{
    @media (max-width: 660px){
        display: flex;
        width: 100%;
        height: 100%;
        overflow: scroll;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 32.250em;

    .News{
        @media (max-width: 460px) {
            width: 20em;
        }
        margin-top: 0.9em;
        flex-grow: 4;
        flex-basis: auto;
        width: 26em;
        height: fit-content;
        background-color: #ffff64;
        word-break: normal;
       
        box-shadow: 10px 10px 5px #121212;
      -moz-box-shadow: 10px 10px 5px #121212;
      -webkit-box-shadow: 10px 10px 5px #121212;
      -khtml-box-shadow: 10px 10px 5px #121212;
        .NewsHeader{
            display: flex;
            justify-content: center;
            h1{
                font-size: 1.9em;
            }
        }
        p{
            margin-top: 0.5em;
            margin-bottom: 0.1em;
            display: flex;
            justify-content: center;
        }
        img{
            margin-top: 0.7em;
            object-fit: cover;
            width: 26em;
            height: 21em;
            @media (max-width: 460px) {
                width: 20em;
            }
        }
    }
}
/*css para o footer*/
footer{
    @media(max-width: 660px){
        display: none;
        
    }
    position: absolute;
    display: flex;
    bottom: 0%;
    width: 100%;
    height: fit-content;
    padding-top: 1em;
    margin-top: 1em;
    background: #121212;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    svg{
        height: 1.875em;
        width: 35px;
        fill: white;
    }
    h1{
        float: right;
       font-size: 1.2em;
        word-break: break-all;
    }
    ul{
        margin-top: 0.1em;
        display: flex;
        li{
            cursor: pointer;
            margin-right: 0.9em;
        }
    }
}
/* SideBar*/
.TopArtist{
    background: #ffff64;
   
}

